name: Automatische Datenaktualisierung

on:
  schedule:
    - cron: "0 */1 * * *"
  workflow_dispatch:  # Erlaubt manuelles Starten über GitHub UI

jobs:
  update-data:
    runs-on: ubuntu-latest  # Läuft auf einem Linux-Server von GitHub
    steps:
      - name: Repository auschecken
        uses: actions/checkout@v4

      - name: Python einrichten
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Abhängigkeiten installieren
        run: |
          pip install requests pyyaml streamlit pandas matplotlib plotly tensorflow datetime scipy joblib scikit-learn

      - name: Alte JSON- , .npy- und CSV-Dateien löschen
        run: |
          rm -f sensor_data.json sensor_data.csv historic_data.npy historic_predictions.npy error.npy mean_error.npy max_global_error.npy timestamps.npy input.npy live_prediction.npy lower.npy upper.npy lower_historic.npy upper_historic.npy

      - name: API-Daten abrufen
        run: python api.py

      - name: JSON in CSV konvertieren
        run: python 2_csv.py

      - name: vorhersage berechnen
        run: python csv_2_numpy.py

      - name: streamlit updaten
        run: python app.py

      - name: Änderungen committen und pushen
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add sensor_data.json sensor_data.csv historic_data.npy historic_predictions.npy error.npy mean_error.npy max_global_error.npy timestamps.npy input.npy live_prediction.npy upper.npy lower.npy lower_historic.npy upper_historic.npy
          git commit -m " Automatische Aktualisierung der Sensordaten" || echo "Keine Änderungen zum Commit"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/8daniel2906/csv-automation.git main

